{% extends "bootstrap/base.html" %}
{% block title %}Eidetic{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/eidetic.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Eidetic</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Devices</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Providers</a></li>
      </ul>
    </div>
  </nav>
{% endblock %}